<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD_Operations.Data.Properties.Settings.Operaciones_CRUD_EmpleadosConnectionString"
            connectionString="Data Source=LUISMG\SQLMG;Initial Catalog=Operaciones_CRUD_Empleados;User ID=sa;Password=Molina310591"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>